// http://www.codeply.com/go/YFFFWHVoRB
// http://treyhunner.com/2015/02/creating-a-custom-bootstrap-build/
// http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
@import "~bootstrap/scss/bootstrap-flex.scss";

@include media-breakpoint-up(sm) {
  .card-deck {
    justify-content: center;

    > .card {
      width: 44%;
      flex-wrap: wrap;
      flex: initial;
      margin-bottom: 0.75rem;

      > .card-block:first-child {
        height: 100px;
      }

      .card-subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .card-deck > .card {
    width: 29%;
    flex-wrap: wrap;
    flex: initial;
  }
}

$card-color: #eddbcd;
$card-title-background-color: #d5d5d5;

//https://designschool.canva.com/blog/website-color-schemes/
.card {
  border: none;
  border-radius: initial;
  background-color: $card-color; /* 47 pastel beach */

  > .card-block:first-child {
    background-color: #d5d5d5; // 6 paper
  }

  &:hover {
    background-color: darken($card-color, 3%);
    > .card-block:first-child {
      background-color: darken($card-title-background-color, 3%);
    }
  }

  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-subtitle {
    font-weight: lighter;
  }
}

.repository-chart {
  display: block;
  margin-top: 20px;
}
