// http://www.codeply.com/go/YFFFWHVoRB
// http://treyhunner.com/2015/02/creating-a-custom-bootstrap-build/
// http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
@import "~bootstrap/scss/bootstrap-flex.scss";

@include media-breakpoint-up(sm) {
  .card-deck {
    justify-content: center;

    > .card {
      width: 44%;
      flex-wrap: wrap;
      flex: initial;
      margin-bottom: 0.75rem;

      > .card-block:first-child {
        height: 100px;
      }

      .card-subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .card-deck > .card {
    width: 29%;
    flex-wrap: wrap;
    flex: initial;
  }
}

$card-front-background-color: #eddbcd; // 47 pastel beach
$site-background-color: #f7f7f9; // bootstrap <code> background
$card-background-color: #d5d5d5; // 6 paper

//https://designschool.canva.com/blog/website-color-schemes/
.card {
  border: none;
  border-radius: initial;
  background-color: $site-background-color;

  > .card-block:first-child,
  .back {
    background-color: $card-background-color;
  }

  &:hover {
    .front {
      background-color: darken($card-front-background-color, 3%);
    }
    > .card-block:first-child,
    .back {
      background-color: darken($card-background-color, 3%);
    }
  }

  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-subtitle {
    font-weight: lighter;
  }
}

.repository-chart {
  display: block;
  padding-top: 20px;
}

//https://davidwalsh.name/css-flip
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;

  /* flip the pane */
  &.flip .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    margin: -20px; // TODO: override bootstrap margin variable
  }

  /* hide back of pane during swap */
  .front,
  .back {
    backface-visibility: hidden;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: $card-front-background-color;
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px; // TODO: override bootstrap margin variable
    background-color: $card-background-color;
  }
}
